<html>

    <head>
        <title>-- todo --</title>
    </head>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Roboto+Mono');
        body {font-family: 'Roboto Mono', monospace;}

        .main-container{
            margin-top: 5em; 
        }
        ul{
            max-width: 500;
            list-style: none;
            text-align: left;
        }
        li{
            padding: .5em;
            border: solid 1px #F0F0F0;
            border-radius: .3em;
            text-align: left;
            margin-bottom: .5em;
            border-left-width: .5em;
            cursor: pointer;
        }
        li:hover{
            background-color: #F0F0F0;
        }
        #new-item-img{
            position: absolute;
            width: 80px;
            right: .5em;
            bottom: .5em;
        }
        #new-item-prompt{
            display: none;
            position: absolute;
            bottom: .5em;
            right: calc(.5em + 80px);
            border: 1px solid #F0F0F0;
            padding: .4em;
            width: 300px;
            border-radius: .3em;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
        #new_item_txt{
            width: 100%;
            margin-bottom: .5em
        }
        input{
            margin-bottom: .5em;
            padding: .3em;
            display: block;
        }
        #id_new_item_txt{

            width: 100%;
        }
        #new-item:hover #new-item-prompt{
            display: block;
        }
        a{
            text-decoration: none;
            color: black; 
        }
        #new-item-title{
            margin: 0;
            padding: 0;
            text-align: center;
            margin-top: .5em;
            margin-bottom: .5em;

        }
    </style>

    <body>

        <div class="main-container">
            <center>
                <h3>Todo list</h3>
                <!-- <img src="">  -->
                <div>
                    
                    <ul>
                        <h4>TODO</h4>
                        {% for item in todo_list %}
                            <a href="/mark_done/{{item.id}}/">
                                <li style="border-left-color:{{item.color}}" >
                                    {{ item.txt }}
                                </li>  
                            </a>
                        {% endfor %}
                    </ul>
                    <ul>
                        <h4>DONE</h4>
                            {% for item in done_list %}
                                <a href="/mark_todo/{{item.id}}/">
                                    <li style="border-left-color:{{item.color}}" >
                                        {{ item.txt }}
                                    </li>  
                                </a>
                            {% endfor %}
                        </ul>
                </div>
            </center>

            <div id="new-item">
                <img src="https://media.giphy.com/media/3o7aCQNE8LAwzhucRW/giphy.gif" id="new-item-img">
                <div id="new-item-prompt">
                    <h4 id="new-item-title">Add new</h4>
                    <form action="/new_todo/" method="post">
                        {% csrf_token %}
                        {{ form }}
                    </form>
                </div>
            </div>

            

        </div>

    </body>

</html>